$main-bg: #0c0f16;
$sub-bg: #252a36;
$main-color:#9F3783;
$red: #ff4d4f;
$orange: #fa8b0c;
$green: #20c997;
$blue: #2196F3;

body{
    font-family: "Poppins";
    color: white;
    background-color: $main-bg;
    padding: 0;
    margin: 0;
}

.btn{
    border:none;
    font-family: "Poppins";
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.1rem;
    padding: .2rem .8rem;

    &.disabled{
        opacity: .6;
        pointer-events: none;
        cursor:not-allowed;
    }

    &.accent{
        background-color: $main-color;
    }    
    &.red{
        background-color: $red;
    }
    &.green{
        background-color: $green;
    }
    &.blue{
        background-color: $blue;
    }
    &.orange{
        background-color: $orange;
    }
    &.white{
        background-color: white;
    }
}


header{
    padding: 20px 50px;
    display: grid;
    grid-template-columns: 1fr auto;
    column-gap: 2rem;
    img{
        width: 4rem;
        margin-top: auto;
        margin-bottom: auto;
    }

    h1{
        font-family: "Barlowcondensed";
        text-transform: uppercase;
        letter-spacing: 0.05em;
        font-size: 1.5rem;
        margin:0;
    }
}

.step{
    padding: 1rem 1.5rem;
    &:nth-of-type(even){
        background-color: $sub-bg;
    }

    h2{
        font-size: 2rem;
        text-transform: uppercase;
        font-family: "Barlowcondensed";
        letter-spacing: 0.01em;
        font-weight: bold;
        margin:0;
        margin-bottom: 1rem;
    }

    h3{
        font-weight: 600;
        margin-top: 0;
        font-size: 1.2rem;
        margin-bottom: .3rem;
    }
}

.controls{
    border-bottom: 3px solid $main-color;
}

form{
    display: flex;
    flex-direction: column;
    button{
        margin-top:.5rem;
    }
}